*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    background: #000;
}

main {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1.2fr 0.9fr;
    grid-template-areas: 
        "top-left top-center right"
        "left-bottom left-bottom right"
    ;
}

.top-left {
    background-color: antiquewhite;
    grid-area: top-left;
}

.top-center {
    background-color: aquamarine;
    grid-area: top-center;
}

.right {
    background-color: rgb(43, 43, 203);
    grid-area: right;
}

.left-bottom {
    background-color: brown;
    grid-area: left-bottom;
}